.card {
  border: 3px solid #fff;
  max-height: 630px;
  border-radius: 33px !important;
}
.navigationButton{
  border-radius: 50px !important;
  float: right;
}
.btmRght {
  right: 10px;
  bottom: 10px;
}