@use "sass:map";

@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_mixins";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_utilities";
@import "_variables";
// @import "../libraries/tempusdomius-bootstrap/src/sass/tempusdomius-bootstrap-build.scss";

$grey-50: #797b86;

$chart-colors: (
  "1": #6ebc46,
  "2": #6ebc46,
  "3": #6ebc46,
  "4": #6ebc46,
  "5": #6ebc46,
  "6": #6ebc46,
  "7": #6ebc46,
  "8": #6ebc46,
  "9": #6ebc46,
  "10": #6ebc46,
  "11": #6ebc46,
  "12": #6ebc46,
  "13": #6ebc46,
  "14": #6ebc46,
  "15": #6ebc46,
  "16": #6ebc46,
  "17": #6ebc46,
  "18": #6ebc46,
  "19": #6ebc46,
  "20": #6ebc46,
  "21": #6ebc46,
  "22": #6ebc46,
  "23": #6ebc46,
  "24": #6ebc46,
  "25": #6ebc46,
);
$custom-spacers: 10px;
.textColor {
  color: #719dcc;
}
.display-1 {
  font-size: 3.4375rem;
  line-height: 7.19rem;
}
.display-2 {
  font-size: 3rem;
  line-height: 6.6rem;
}
.display-3 {
  font-size: 2.625rem;
  line-height: 5.4rem;
}
.display-4 {
  font-size: 2.3125rem;
  line-height: 4.2rem;
}
.lock-scroll {
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
.card {
  border: 0px !important;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.171) !important;
}
.img-round, .img-rel-round {
  width: 30px;
  height: 30px;
  padding: 6px 6px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  border-radius: 50% !important;
}
.p-7 {
  padding: 0.4375rem;
}
.p-8 {
  padding: 0.5rem;
}
.p-9 {
  padding: 0.565rem;
}
.p-10 {
  padding: 0.625rem;
}
.p-12 {
  padding: 0.75rem;
}
.p-13 {
  padding: 0.8125rem;
}
.p-16 {
  padding: 1rem;
}
.p-18 {
  padding: 1.125rem;
}
.p-20 {
  padding: 1.25rem;
}
.pl-20 {
  padding-left: 1.25rem;
}
.pt-20 {
  padding-top: 1.25rem;
}
.pb-20 {
  padding-bottom: 1.25rem;
}
.p-22 {
  padding: 1.375rem;
}
.p-25 {
  padding: 1.5625rem;
}
.p-26 {
  padding: 26px;
}
.p-32 {
  padding: 2rem;
}
.pt-32 {
  padding-top: 2rem;
}
.ft-16 {
  font-size: 1rem;
}
.ft-32 {
  font-size: 2rem;
}
.p-42 {
  padding: 2.625rem;
}
.py-42 {
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
}
.ft-57 {
  font-size: 3.625rem;
}
.w-10 {
  width: 10% !important;
}
.w-15 {
  width: 15% !important;
}
.w-30 {
  width: 30% !important;
}
.w-90 {
  width: 90% !important;
}
.h-10 {
  height: 10% !important;
}
.h-15 {
  height: 15% !important;
}
.h-30 {
  height: 30% !important;
}
.h-90 {
  height: 90% !important;
}
h1 {
  font-size: 78px;
  @media only screen and (min-width: 500px) and (max-width: 767px) {
    font-size: 58px;
  }
  @media only screen and (min-width: 400px) and (max-width: 500px) {
    font-size: 48px;
  }
  @media only screen and (max-width: 400px) {
    font-size: 38px;
  }
}
p {
  font-size: 24px;
  @media only screen and (min-width: 500px) and (max-width: 767px) {
    font-size: 20px;
  }
  @media only screen and (min-width: 400px) and (max-width: 500px) {
    font-size: 16px;
  }
  @media only screen and (max-width: 400px) {
    font-size: 12px;
  }
}
button {
  font-size: 24px;
  justify-self: center;
  @media only screen and (min-width: 500px) and (max-width: 767px) {
    font-size: 20px;
  }
  @media only screen and (min-width: 400px) and (max-width: 500px) {
    font-size: 16px;
  }
  @media only screen and (max-width: 400px) {
    font-size: 12px;
  }
}
.svg__image {
  clip-path: url(#clip-path);
}
// Change Bootstrap utility classes here

$utilities: map-merge(
  $utilities,
  (
    "color": (
      map-merge(
        map-get($utilities, "color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "color"), "values"),
              (
                "primary": $primary,
                "secondary": $secondary,
                "success": $success,
                "info": $info,
                "warning": $warning,
                "danger": $danger,
                "light": $light,
                "dark": $dark,
                "body": $body-color,
              )
            ),
        )
      ),
    ),
    "shadow": (
      property: box-shadow,
      class: shadow,
      values: (
        null: $box-shadow,
        sm: $box-shadow-sm,
        lg: $box-shadow-lg,
        activity: $box-shadow-activity,
        none: none,
      ),
    ),
    "border-color": (
      property: border-color,
      class: border,
      values:
        map-merge(
          $theme-colors,
          (
            "primary": $primary,
            "secondary": $secondary,
            "success": $success,
            "info": $info,
            "warning": $warning,
            "danger": $danger,
            "light": $light,
            "dark": $dark,
            "body": $body-color,
          )
        ),
    ),
    "background-color": (
      property: background-color,
      class: bg,
      values:
        map-merge(
          $theme-colors,
          (
            "primary": $primary,
            "secondary": $secondary,
            "success": $success,
            "info": $info,
            "warning": $warning,
            "danger": $danger,
            "light": $light,
            "dark": $dark,
            "body": $body-color,
          )
        ),
    ),
    "margin": (
      responsive: true,
      property: margin,
      class: m,
      values: $custom-spacers,
    ),
  )
);
