.reasonCard {
  min-width: 50% !important;
  min-height: 50% !important;  padding: 2.7rem !important;
  @media only screen and (min-width: 767px) and (max-width: 1200px) {
    padding: 2.7rem !important;
  }
  @media only screen and (min-width: 500px) and (max-width: 767px) {
    padding: 1.7rem !important;
  }
  @media only screen and (min-width: 400px) and (max-width: 500px) {
    padding: 1rem !important;
  }
  @media only screen and (max-width: 400px) {
    padding: 1rem !important;
  }
}
.downImage {
  position: relative;
  z-index: 0;
  -webkit-mask-image: url(../../../Assets/men.png);
  mask-image: url(../../../Assets/men.png);
  background-color: #337d94;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 20px auto;
  display: block;
  width: 100%;
  height: 750px;
  -webkit-mask-position: top left;
  mask-position: top left;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 430px 650px;
  mask-size: 430px 650px;
  @media only screen and (max-width: 1200px) {
    height: 650px;
    -webkit-mask-size: 430px 650px;
    mask-size: 430px 650px;
  }
  @media only screen and (min-width: 500px) and (max-width: 767px) {
    height: 550px;
    -webkit-mask-size: 270px 550px;
    mask-size: 270px 550px;
  }
  @media only screen and (min-width: 400px) and (max-width: 500px) {
    height: 430px;
    -webkit-mask-size: 90px 110px;
    mask-size: 90px 110px;
  }
  @media only screen and (max-width: 400px) {
    height: 360px;
    -webkit-mask-size: 80px 90px;
    mask-size: 80px 90px;
  }
}