svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bgBluePink {
  background-image: linear-gradient(to top right, #fed8f7, #c4f1fe);
  outline: white;
}

.img {
  margin: 20px auto;
  display: block;
  width: 540px;
  height: 600px;
  -webkit-mask-image: url(https://tympanus.net/codrops-playground/assets/images/cssref/properties/mask-position/mask-image.png);
  mask-image: url(https://tympanus.net/codrops-playground/assets/images/cssref/properties/mask-position/mask-image.png);
  -webkit-mask-position: top left;
  mask-position: top left;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 450px 600px;
  mask-size: 450px 600px;
  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    width: 400px;
    height: 500px;
    -webkit-mask-size: 400px 500px;
    mask-size: 400px 500px;
  }
  @media only screen and (min-width: 500px) and (max-width: 767px) {
    width: 400px;
    height: 500px;
    -webkit-mask-size: 400px 500px;
    mask-size: 400px 500px;
  }
  @media only screen and (min-width: 400px) and (max-width: 500px) {
    width: 350px;
    height: 430px;
    -webkit-mask-size: 350px 450px;
    mask-size: 350px 450px;
  }
  @media only screen and (max-width: 400px) {
    width: 300px;
    height: 360px;
    -webkit-mask-size: 300px 400px;
    mask-size: 300px 400px;
  }
}
